html{
    
}

header {
    background-color: #D4B191;
    border: 2px solid red;
    padding: 20px;
    margin-bottom: 2rem;
}

header nav {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center; /* Trabaja en eje secundario vertical*/
}

header ul {
    height: 4rem;
    gap: 50px;
    display: flex;
    justify-content: end; /* Si quiero centrar en formato horizontal*/
    /*justify-content:space-between;*/
    /* justify-content: start; para ponerlo al inicio */
    flex-wrap: wrap; /* envuelve a los elementos */
}

header li {
    list-style: none;
} /* le saca los puntos de los items*/

header a {
    text-decoration: none;
}

video {
    border: 2px solid red;
    padding: 20px;
}

img {
    width: 200px;
}

#logoYnav{
    margin-bottom: 1rem; /* Para mantener un orden */
    display: flex;
}

main {
    background-color: #4B4C3C;
    border: 2px solid red;
    padding: 1rem;
    margin: 0 20%;
}



#contenedorProductos{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

#h2productos{
    border:2px solid red;
    padding: 1rem;
}

footer{
    background-color: black;
    color:white;
    border: 2px solid red;
    padding: 1rem;
    margin: 5%;
}

footer li{
    list-style: none;
}

footer a {
    color:white;
    text-decoration: none;
}